{% extends "habit/base.html" %}
{% block title %}Add Habit Log - HabitTracker{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0"><i class="fas fa-plus me-2"></i>Add Habit Log</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Habit</label>
                        <input type="text" class="form-control" value="{{ habit.name }}" disabled>
                        {{ form.habit }}  <!-- hidden input so it still submits -->
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Date</label>
                        <input type="date" class="form-control" value="{{ today|date:'Y-m-d' }}"  disabled>
                        {{ form.date }}
                    </div>
                    <div class="mb-3">
                         {{ form.status }}
                    </div>
                    <div class="mb-3">
                        {{ form.progress.label_tag }}
                        {{ form.progress }}
                        <small class="text-muted">Max: {{ form.fields.progress.widget.attrs.max }}</small>
                    </div>
                    <div class="mb-3">
                        {{ form.notes.label_tag }} {{ form.notes }}
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save me-1"></i> Save Log
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
